@page
@model IndexModel
@using ReportViewerForCore;
@{
	ViewData["Title"] = "Inicio";
}
<div class="d-flex flex-column align-items-center">
	<div class="mainTitle"><i class="fa fa-battery-half"></i>&nbsp;@Model.ReportViewModel.Title</div>
	<div class="embed-responsive embed-responsive-21by9 reportContentIFrame" id="divReport">
		<iframe class="embed-responsive-item reportIFrame" src=@Model.ReportViewModel.GetPathRender(false, false, true) id="iframeReport" allowfullscreen></iframe>
		@*<iframe class="embed-responsive-item reportIFrame" src=@Model.ReportViewModel.GetPathRender() id="iframeReport" onload="resizeIframeHeight(this);"></iframe>*@
	</div>
</div>